$color-text: #5a5a5a;
$color-bg: #ced4d6;

html {
    box-sizing: border-box;
    background-color: $color-text;
}
body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    overflow: hidden;
    color: $color-text;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: "AppleSDGothicNeo", Helvetica;
    font-weight: bold;
}

button,
select {
    font-size: 20px;
}

.view-pause {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 139, 139, 0.377);
    display: none;
    &.show {
        display: block;
        text-decoration: blink;
    }
}
blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#set {
    transition: all 0.3s;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: $color-bg;
    // background: rgb(241, 242, 239);
    // background: linear-gradient(180deg, rgba(241, 242, 239, 1) 0%, rgba(255, 255, 255, 1) 100%);
    color: #5a5a5a;
    .set2 {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section {
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .label {
            text-align: center;
            margin-bottom: 10px;
        }
        .input {
            display: flex;
            height: 30px;
            .con-select {
                font-size: 35px;
                width: 100px;
                display: flex;
                justify-content: center;
                position: relative;
                .print-select {
                    width: 100%;
                    // border: 1px solid #333;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                select {
                    position: absolute;
                    background-color: transparent;
                    border: 0;
                    opacity: 0.01;
                    width: 80%;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    // text-indent: 1px;
                    text-align: center;
                    text-align: -webkit-center;
                    text-overflow: "";
                    text-align-last: center;
                    color: $color-bg;
                    // direction: rtl;
                    &:after {
                        display: none;
                        position: absolute;
                        content: "";
                    }
                }
            }
            button {
                background-color: transparent;
                border: 1px solid #5a5a5a69;
                display: flex;
                width: 50px;
                height: 100%;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
            }
        }
    }
    .btn-start {
        background-color: #5a5a5a;
        color: #ced4d6;
    }
    // display: none;
}
#run {
    $color-go-font: #681d17;
    $color-go-bg: #da7971;
    $color-rest-font: #0c4e3b;
    $color-rest-bg: #65ab97;
    transition: all 0.3s;
    &.ready {
        color: $color-bg;
        // background-color: $color-rest-bg;
        .btn-stop {
            color: $color-text;
            background-color: $color-bg;
        }
    }
    &.go {
        color: $color-go-font;
        background-color: $color-go-bg;
        .btn-stop {
            color: $color-go-bg;
            background-color: $color-go-font;
        }
    }
    &.rest {
        color: $color-rest-font;
        background-color: $color-rest-bg;
        .btn-stop {
            color: $color-rest-bg;
            background-color: $color-rest-font;
        }
    }
    position: relative;
    height: 100vh;
    .run2 {
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .content {
            width: 100vw;
            $con-counter-h: 240px;
            // display: none;
            position: relative;
            // height: 240px;
            #title {
                text-align: center;
                font-size: 55px;
                margin-bottom: 50px;
            }
            .con-counter {
                position: relative;
                height: $con-counter-h;
                .chart {
                    position: absolute;
                    text-align: center;
                    width: 100%;
                }
                .con-timer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: $con-counter-h;

                    #timer {
                        font-family: "HelveticaNeue";
                        font-weight: bold;
                        font-size: 120px;
                        letter-spacing: -2;
                    }
                }
            }
            #dp-set {
                margin-top: 50px;
                text-align: center;
                font-size: 30px;
                letter-spacing: -2px;
                .txt2 {
                    font-size: 20px;
                }
                .divide {
                    font-size: 20px;
                }
            }
        }
    }

    .btn-stop {
        background-color: #5a5a5a;
        color: #ced4d6;
    }
}

.buttons {
    .btn-start,
    .btn-stop {
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 75px;
        height: calc(constant(safe-area-inset-bottom) + 75px);
        height: calc(env(safe-area-inset-bottom) + 75px);
        //
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
        font-size: 30px;

        border: 0;
    }
}
