.header{
    position: fixed;
    width: 100%;
    height: $header-height;
    background-color: bisque;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .logo {
        font-size: 2.5rem;
        font-weight: bold;
        margin-left: 1rem;
    }
}

section {
    &.page {
        padding-top: $header-height;
    }
}

.page-manager {
    padding-top: $header-height;
    position: relative;
    .page-container {
        position: absolute;
        width: 100vw;
        background-color: #e5e2f2;
        border: 1px solid gray;
    }
}